* {
    box-sizing: border-box;
    padding: 0;
    font-size: 10px;
    margin: 0 auto;
    // border: 2px solid black;
    // overflow: hidden;
    width: 1200px;
    font-family: 'New Tegomin', serif;
}



body {
    margin-left: 30px;
    background: linear-gradient(black, white);
    
}

.health-status {
    color: whitesmoke;
    font-size: 2rem;
    img {
        width: 30px;
    }
}

.title-page {
    background-image: url('../images/introBackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1200px;
    height: 700px;
    position: absolute;
    margin: 0 auto;
    
    
    h1 {
        font-size: 6rem;
        text-align: center;
        transform: translateY(80px);
        color: whitesmoke;
    }
    
}

.loading-screen {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    z-index: 5000;
    
    h2 {
        font-size: 7rem;
        color: whitesmoke;
        background-color: rgba(0,0,0,0.6);
        width: 30vw;
    }
}

.gameCanvases {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    width: 1200px;
    position: absolute;
    z-index: 100;
    button {
        height: 10vh;
        width: 15vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        font-size: 3rem;
    }
}

#game_background {
    position: absolute;
    top: 0;
    
    z-index: -10;
}

#secondary_background {
    position: absolute;
    top: 0;

    z-index: -2000;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1200px;
}


.modal {
    height: 60vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 3000;
}

.resetModal {
    z-index: 3000;
    background-color: #90EE90;
    .resetModal__closeButton {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        margin: 5px;
        
    }
    .resetModal__button {
        height: 45px;
        width: 120px;
    }
}

.winModal {
    flex-direction: column;
    button {
        margin: 20px;
        height: 50px;
        width: 100px;
    }
    z-index: 3000;
}

.gameOver-modal {
    text-align: center;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 7rem;
        margin-bottom: 2rem;
    }
    button {
        width: 10vw;
        height: 5vh;
        font-size: 3rem;
    }
}


.hidden {
    display: none;
}

.map-background {
    width: 1200px;
    height: 700px;
    overflow: hidden;
    position: relative;
    z-index: -2000;
    img {
       position: absolute;
        top: 13%;
        
    }
}